.mint-swipe-indicator.is-active {
  background-color: #7F7730;
}

.mint-swipe-indicators {
  position: absolute;
  bottom: 25px;
}

.mint-swipe .mint-swipe-indicators .mint-swipe-indicator {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.mint-swipe-indicator {
  background-color: #fff;
}

.mint-swipe-items-wrap>div>img {
  width: 100%;
  height: 1111px;
  background-color: #f98;
}

.mint-cell {
  background: none;
}

.mint-cell-text {
  color: #fff;
}

.mint-cell-text {
  width: 100%;
}

.mint-field-core {
  background-color: #000;
  color: #fff;
}

.mint-cell-value>input {
  border-bottom: 4px solid #98843A;
  line-height: 150px;
}

.mint-field-core::-ms-input-placeholder {
  text-align: center;
  color: #fff;
  letter-spacing: 5px;
  font-size: 20px;
}

.mint-field-core::-webkit-input-placeholder {
  text-align: center;
  color: #fff;
  letter-spacing: 5px;
}

.register .mint-cell:nth-child(1),
.register .mint-cell:nth-child(2) {
  width: 50%;
  float: left;
}

.register .mint-cell:nth-child(3) {
  clear: both;
}

.register .mint-cell:nth-child(5),
.register .mint-cell:nth-child(6) {
  width: 50%;
  float: left;
}

.register .mint-cell:nth-child(7) {
  clear: both;
}
